<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name=viewport content= width=device-width initial-scale=1>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
</head>
<body>
  <div class="row" id="shop-header">
    <div class="col-12 navbar">
      <a id="logo" href="." style="font-size:35px">👟<a>
        <span id="title">The Sneakers Shop Experience</span>
        <% if (isLoggedIn != true) { %>
          <div class="login" style='display:flex'>
            <form class="" action="/login" method="get">
              <button class="btn btn-info btn-sm logout" style='margin-right: 15px' type="submit" name="button">Sign In / Sign Up</button>
            </form>
            <% } else { %>
              <form  action="/logout" method="get">
                <button id='logoutButton' class="btn btn-outline-info btn-sm" type="submit" action="/logout" name="button">Déconnexion</button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
        <div id="shop-background"></div>
        <h1>The Sneakers Shop</h1>
        <div class="container">
          <div class="row">

            <%
            for(var i=0; i<dataSneakers.length; i++) {
              %>
                <div class="bike-card col-10 col-md-10 col-lg-4">
                <div class="card text-center ">
                  <img class="card-img-top" src="<%=dataSneakers[i].url %>">
                  <div class="card-body">
                    <h5 class="card-title"><%=dataSneakers[i].name %></h5>
                    <span class="shop-price"><%=dataSneakers[i].price %> €</span>
                    <form action="/see-more" method="POST">
                      <input type="hidden" name="url" value="<%=dataSneakers[i].url %>">
                      <input type="hidden" name="name" value="<%=dataSneakers[i].name %>">
                      <input type="hidden" name="price" value="<%=dataSneakers[i].price %>">
                      <input type="hidden" name="resume" value="<%=dataSneakers[i].resume %>">
                      <input type="hidden" name="quantity" value="1">
                        <button style='margin:10px' class="btn btn-outline-info btn-sm">See more</button>
                      </form>
                      </div>
                    </div>
                  </div>
                  <%
                }
                %>
              </div>
            </div>
          <footer>
            <div class="column width-12 center">
					   <h4 id="titleFooter1">Thank you for coming and visiting my fictional Sneakers Shop.</h4>
				   </div>
           <div>
             <span id="titleFooter">The Sneakers Shop Experience</span>
           </div>
          </footer>
        </body>
        </html>
